@inherits LayoutComponentBase
@using Blazored.Toast.Configuration;
@using Microsoft.AspNetCore.Components.Authorization;
<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="5" IconType="IconType.FontAwesome" ErrorIcon="fa fa-times"
                InfoIcon="fa fa-info" SuccessIcon="fa fa-check" WarningIcon="fa fa-exclamation" />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    Hello, @context.User.Identity.Name
                    <a href="/logout">Logout</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                    <a href="/login" class="ml-md-auto">Login</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
